/* line 3, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-box-item-one {
  position: relative;
}

/* line 6, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-box-item-one img {
  width: 100%;
  height: 324px;
}

/* line 13, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-overly-text {
  position: absolute;
  width: 263px;
  background-color: #f8f9fa;
  bottom: 0;
  text-align: center;
  height: 154px;
  padding-top: 50px;
}

/* line 22, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-overly-text span {
  font-size: 10px;
  color: #000;
}

/* line 26, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-overly-text h5 {
  font-size: 22px;
  color: #000;
  font-weight: bold;
}

/* line 35, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-box-item-one-heading {
  padding-top: 30px;
}

/* line 41, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-box-item-one-heading h3 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

/* line 46, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-box-item-one-heading p {
  padding-top: 15px;
  font-size: 14px;
  color: #848484;
}

/* line 54, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .heading {
  text-align: center;
}

/* line 58, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .heading h1 {
  font-size: 25px;
  font-style: italic;
  color: #000;
}

/* line 66, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .border-one {
  border: 1px dotted #DDDDDD;
  width: 92%;
  position: relative;
  top: -23px;
}

/* line 74, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .border-one::after {
  content: "";
  position: absolute;
  right: -1px;
  top: -19px;
  height: 38px;
  width: 17px;
  border-right: 2px dotted #DDDDDD;
}

/* line 91, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-overly-text:hover {
  background-color: #FE6F61;
  transition: all .3s;
  cursor: pointer;
}

/* line 97, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-overly-text:hover span {
  color: #fff;
  transition: all .3s;
}

/* line 104, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .img-overly-text:hover h5 {
  color: #fff;
  transition: all .3s;
}

/* line 110, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .active {
  background-color: #FE6F61;
  transition: all .3s;
  cursor: pointer;
}

/* line 115, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .active span {
  color: #fff;
  transition: all .3s;
}

/* line 119, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
#story-section .active h5 {
  color: #fff;
  transition: all .3s;
}

/* line 131, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.border-two {
  border: 1px dotted #DDDDDD;
  width: 92%;
  position: relative;
  top: -23px;
  margin: 0 auto;
  right: -35px;
}

/* line 139, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.border-two::after {
  content: "";
  position: absolute;
  left: -17px;
  top: -19px;
  height: 38px;
  width: 17px;
  border-right: 2px dotted #DDDDDD;
}

/* line 149, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.border-one::before {
  content: "";
  position: absolute;
  border-top: 1px solid gray;
  content: "";
  position: absolute;
  right: -17px;
  top: -19px;
  height: 38px;
  width: 17px;
  border-top: 2px dotted #DDDDDD;
}

/* line 161, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.border-two::before {
  content: "";
  position: absolute;
  left: -17px;
  top: -19px;
  height: 38px;
  width: 17px;
  border-top: 2px dotted #DDDDDD;
}

/* line 170, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.heading {
  position: relative;
}

/* line 174, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.heading h1::after {
  content: "";
  position: absolute;
  border-bottom: 2px dotted #DDDDDD;
  height: 1px;
  width: 13px;
  top: 36px;
  left: 951px;
}

/* line 183, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.heading h1::before {
  content: "";
  position: absolute;
  border-bottom: 2px dotted #DDDDDD;
  height: 1px;
  width: 13px;
  top: 36px;
  right: 952px;
}

/* line 192, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.margin-top {
  margin-top: 50px;
}

/* line 195, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.button-font-size {
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

/* line 200, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.extra-padding {
  padding: 10px 36px;
  z-index: 10000;
  border-color: #707070;
  position: absolute;
}

/* line 206, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.btn-new {
  border: 1px solid #707070;
  width: 137px;
  height: 39px;
  border-radius: 0;
  position: relative;
  right: 6px;
  top: -7px;
  z-index: -1;
}

/* line 216, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.padding-bottom {
  padding-bottom: 40px;
}

/* line 219, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.every-section-margin-top {
  margin-top: 108px;
}

/* line 223, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.main-btn-area {
  position: relative;
  display: inline-block;
}

/* line 228, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.main-btn-area .btn-One {
  width: 280px;
  height: 80px;
  border: 1px solid #707070;
  border-radius: 0;
  z-index: 999;
}

/* line 236, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.main-btn-area span {
  background-color: #fff;
  color: #707070;
  position: absolute;
  left: 6%;
  top: 11%;
  z-index: -1;
  font-size: 14px;
  transition: all .3s;
  border: 1px solid #707070;
  width: 282px;
  height: 85px;
  padding: 25px 0px;
}

/* line 251, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.main-btn-area .btn-One {
  width: 280px;
  height: 80px;
  border: 1px solid #707070;
  border-radius: 0;
  z-index: -1;
}

/* line 260, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.main-btn-area .btn-One:hover {
  width: 279px;
  height: 80px;
  border: 1px solid #FE6F61;
  border-radius: 0;
  z-index: 999;
}

/* line 268, ../../../Users/User/Desktop/smile-template/scss/story-section.scss */
.main-btn-area:hover span {
  background-color: #FE6F61;
  padding: 30px 96px;
  color: #fff;
  position: absolute;
  left: 3%;
  top: 8%;
  z-index: -1;
  font-size: 14px;
  transition: all .3s;
  border-color: transparent;
}

/*# sourceMappingURL=story-section.css.map */