// Variables
$heading-font: 'Playfair Display',
serif;
$main-font: 'Comfortaa',
cursive;

$heading-color: rgba(51, 62, 72, 0.9);
$white: #ffffff;
$red: #D80027;
$lignt-red: #FC6B6B;
$light-blue: #A2F8FF;
$light-blue-2: #E9F0F4;
$dark-blue: #000;
$dark-blue-2: #507F8B;
$dark-blue-3: #0093B9;
$icon-color: #C2C2C2;
$active-icon-color: #000;
$dark-grey: #000;
$dark-grey-2: #47515a;
$dark-grey-3: #555555;
$dark-grey-4: #333E48;
$dark-grey-5: #707070;
$light-grey: #cccccc;
$light-grey-2: #777777;
$light-grey-3: #F7F7F7;
$light-grey-4: #F0F0F0;
$light-grey-5: #F7F9FA;
$black-blod: #000;
$black-slider-bg-color: #282D3E;
$bg-darks: #838383;
$tag-border-color: #F8F8F8;
$border-dotted-color:#F0F0F0;

